body{
	font-family: sans-serif; 
	font-size: 15pt;
	margin: 2em 3em 2em 3em;
	color: #ddd;
	background-color: #252525;
	line-height: 150%;
}
a.enabled{
	text-decoration: none;
	color: #252525;
	background-color: #f92672;
	padding: 0 0.5em 0 0.5em;
	font-weight: bold;
	font-size: 2em;
	margin: 0 19% 0 19%;
}
a.disabled{
	text-decoration: none;
	color: #555;
	background-color: #333;
	padding: 0 0.5em 0 0.5em;
	font-weight: bold;
	font-size: 2em;
	margin: 0 19% 0 19%;
}
a.enabled:hover{
	background-color: #951644;
}
a{
	text-decoration: none;
}
h1{
	color: #a6e22e;
}
h3{
	color: #66d9ef;
}